/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.br-admin {
    
}

.br-description {
    margin-left: 30px;
    /*float:right;;*/
    font-style: italic;
    /*display: inline-block;*/
}

.br-textfield {
    width: 100px;
}